/* Define o estilo para o corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #525a61; /* Cor de fundo cinza */
  }
  
  /* Estiliza um possível logotipo */
  .logo {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
    color: #1877f2; /* Cor do texto azul */
    font-weight: 700;
  }
  
  /* Estiliza o formulário de login */
  form {
    display: flex;
    flex-direction: column;
    background: #fff; /* Fundo branco */
    padding: 1.5rem 1rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  }
  
  /* Estiliza os campos de entrada (input) */
  form input {
    outline: none;
    padding: 0.4rem 0.5rem;
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
  }
  
  /* Define o estilo quando o campo de entrada está em foco */
  form input:focus {
    border: 1.8px solid #1877f2; /* Borda azul quando em foco */
  }
  
  /* Estiliza o botão de login */
  form .login {
    outline: none;
    border: none;
    background: #1877f2; /* Cor de fundo azul */
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    color: #fff; /* Cor do texto branco */
  }
  
  /* Define o estilo quando o botão de login está com o cursor em cima */
  form .login:hover {
    background: #0f71f1; /* Fundo mais claro ao passar o cursor */
    cursor: pointer;
  }
  
  /* Estiliza os links dentro do formulário */
  form a {
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    padding-top: 0.8rem;
    color: #1877f2; /* Cor do texto azul */
  }
  
  /* Adiciona uma linha horizontal com fundo cinza claro */
  form hr {
    background: #f7f7f7;
    margin: 0.5rem;
  }
  
  /* Estiliza o botão para criar uma conta */
  form .create-account {
    outline: none;
    border: none;
    background: #06b909; /* Cor de fundo verde */
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    color: #fff; /* Cor do texto branco */
    width: 75%;
    margin: 0 auto; /* Centralizado horizontalmente */
  }
  
  /* Define o estilo quando o botão de criar conta está com o cursor em cima */
  form .create-account:hover {
    background: #03ad06; /* Fundo mais claro ao passar o cursor */
    cursor: pointer;
  }
  